@charset "UTF-8";

html, body {
  padding: 0px;
  margin: 0px;
  text-align: center;
  z-index: 100;
  overflow: hidden;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: #000;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.wrapper {
  width: 100%;
}

#content {
  width: 300px;
  margin: 0 auto;
  padding: 60px 0px;
}

.tokyoLogo {
	margin-bottom: 60px;
}

.maltineLogo {
	margin-top: 60px;
}

#backgroundImage {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -2;
}