@charset "UTF-8";

html, body {
  padding: 0px;
  margin: 0px;
  text-align: center;
  z-index: 100;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: #000;
}

.wrapper {
  width: 100%;
}

#content {
  width: 300px;
  margin: 0 auto;
  padding: 60px 0px;
}

.tokyoLogo {
	margin-bottom: 60px;
}

.maltineLogo {
	margin-top: 60px;
}